<div class="dropdown center my-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Выбор тренировки
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= link_to 'Грудь, Трицепс', user_power_path(@user, @power, day: 'monday'),
        class: 'dropdown-item'%>
    </li>

    <li><hr class="dropdown-divider"></li>

    <li>
      <%= link_to 'Спина, Бицепс', user_power_path(@user, @power, day: 'wednesday'),
        class: 'dropdown-item'%>
    </li>

    <li><hr class="dropdown-divider"></li>

    <li>
      <%= link_to 'Ноги, Плечи', user_power_path(@user, @power, day: 'friday'),
        class: 'dropdown-item'%>
    </li>
  </ul>
</div>

<% case params[:day] %>
  <% when 'monday'%>
    <%= render 'monday' %>
  <% when 'wednesday'%>
    <%= render 'wednesday' %>
  <% when 'friday'%>
    <%= render 'friday' %>
<% end %>