<h3 class="my-4 center"><strong>Протокол Табатта</strong></h3>
  <div class="container my-4">
    <div class="row row-cols-5 center">
      <div class="col"><strong>Упражнение</strong></div>
      <div class="col"><strong>Кол-во подходов</strong></div>
      <div class="col"><strong>Время работы</strong></div>
      <div class="col"><strong>Время отдыха</strong></div>
      <div class="col"><strong>Вес</strong></div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">Боковой скалолаз:</div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.side_climber.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">Берпи:</div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.burpee.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">Сгибание предплечий со штангой:</div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.barbell_forearm_curls.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">Отжимания с узкой постановкой рук:</div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.push_ups_with_narrow_arms.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">Приседания:</div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.squats.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">Статика в приседе:</div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.statics_in_the_squat.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">Развороты корпуса в планке:</div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.plank_reversals.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">Планка:</div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.plank.ceil%> кг.</div>
    </div>
  </div>

<div class="row row-cols-2 my-5">
  <div class="col left">
    <%= link_to "Не удалось", user_path(current_user), class: 'btn btn-danger btn-lg'%>
  </div>

  <div class="col right"><%= link_to "Завершено",
     user_update_gain_path(@user, @gain, complete_training: 'tabat_friday'),
     method: :put, class: 'btn btn-success btn-lg'%></div>
</div>