<h3 class="my-4 center"><strong>Протокол Табатта</strong></h3>
  <div class="container my-4">
    <div class="row row-cols-5 center">
      <div class="col"><strong>Упражнение</strong></div>
      <div class="col"><strong>Кол-во подходов</strong></div>
      <div class="col"><strong>Время работы</strong></div>
      <div class="col"><strong>Время отдыха</strong></div>
      <div class="col"><strong>Вес</strong></div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText" aria-expanded="false"
                aria-controls="collapseText">Боковой скалолаз:
        </button>
        <div class="collapse my-2" id="collapseText">
          <span>
            <%= image_tag('Боковой скалолаз.jpeg') %>
            <ul>
              <li>Встаньте в упор лёжа, поставьте запястья чётко под плечами, взгляд направьте в пол перед собой.</li>
              <li>Вытяните тело в одну линию от макушки до стоп, напрягите пресс.</li>
              <li>Подтяните одно колено к груди, с прыжком смените ногу и продолжайте чередовать их.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.side_climber.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText1" aria-expanded="false"
                aria-controls="collapseText1">Берпи:
        </button>
        <div class="collapse my-2" id="collapseText1">
          <span>
            <%= image_tag('Берпи.jpeg') %>
            <ul>
              <li>Встаньте прямо, ноги на ширине плеч. Это будет вашей исходной позицией.</li>
              <li>Согните колени и в положении приседа упритесь руками в пол.</li>
              <li>Перенесите вес тела на руки.</li>
              <li>Сделайте выпрыгивание ногами назад так, чтобы оказаться в положении планки на прямых руках.</li>
              <li>Сделайте одно отжимание и вернитесь в позицию планки.</li>
              <li>Прыжком подтяните ноги к рукам и окажитесь в положении приседа.</li>
              <li>Сделайте прыжок вверх и резко поднимите руки, издав хлопок над головой.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.burpee.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText2" aria-expanded="false"
                aria-controls="collapseText2">Сгибание предплечий со штангой:
        </button>
        <div class="collapse my-2" id="collapseText2">
          <span>
            <%= image_tag('Сгибания предплечий со штангой.jpeg') %>
            <ul>
              <li>Сделайте глубокий вдох, задержите дыхание и, сгибая руки в локтях, поднимите штангу до уровня верха груди.</li>
              <li>Во время подъема штанги не двигайте локтями, держите их по бокам туловища и не сгибайте руки в запястьях.</li>
              <li>Как только кисти окажутся на уровне верха груди, сделайте паузу, выдохните и еще сильнее напрягите бицепсы.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.barbell_forearm_curls.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText3" aria-expanded="false"
                aria-controls="collapseText3">Отжимания с узкой постановкой рук:
        </button>
        <div class="collapse my-2" id="collapseText3">
          <span>
            <%= image_tag('Отжимания с узкой постановкой рук.jpeg') %>
            <ul>
              <li>Поставьте руки чуть уже плеч, пальцы направьте вперед.</li>
              <li>Расстояние между ладонями не должно быть меньше 20 см.</li>
              <li>Выпрямите корпус, напрягите мышцы пресса, соедините вместе ноги.</li>
              <li>Спина должна быть абсолютно прямой, не допускайте прогиба в пояснице.</li>
              <li>Медленно опустите корпус вниз за счет сгибания рук в локтевых суставах.</li>
              <li>Локти во время выполнения движения направлены назад и прижаты к корпусу.</li>
              <li>Опускайтесь, пока грудь практически не коснется пола, но на пол не ложитесь.</li>
              <li>Энергичным усилием разогните руки и поднимите корпус в исходное положение.</li>
              <li>В верхней точке руки до конца не разгибайте.</li>
              <li>Не задерживаясь, снова опускайте корпус и так далее.</li>
              <li>Движение получается практически непрерывным.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.push_ups_with_narrow_arms.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText4" aria-expanded="false"
                aria-controls="collapseText4">Приседания:
        </button>
        <div class="collapse my-2" id="collapseText4">
          <span>
            <%= image_tag('Приседания.jpeg') %>
            <ul>
              <li>На глубоком вдохе отведите таз назад и разведите колени в стороны.</li>
              <li>Не «заваливайтесь» вперед, достаточно естественного наклона корпуса.</li>
              <li>Правильный присед напоминает опускание ягодиц на воображаемый стул.</li>
              <li>Опустившись в нижнюю точку, сразу же поднимайтесь и выдыхайте воздух из легких.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.squats.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText5" aria-expanded="false"
                aria-controls="collapseText5">Статика в приседе:
        </button>
        <div class="collapse my-2" id="collapseText5">
          <span>
            <%= image_tag('Статика в приседе.jpeg') %>
            <ul>
              <li>Исходное положение: встать спиной к стене, облокотившись на нее.</li>
              <li>Следующим движением на вдохе опуститься вниз до параллели бедер и пола.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.statics_in_the_squat.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText6" aria-expanded="false"
                aria-controls="collapseText6">Развороты корпуса в планке:
        </button>
        <div class="collapse my-2" id="collapseText6">
          <span>
            <%= image_tag('Планка с перетягиванием гири.jpeg') %>
            <ul>
              <li>Исходное положение планка.</li>
              <li>Кисти ровно под плечами.</li>
              <li>На вдохе поднять правую руку, раскрыться вправо с разворотом корпуса и стоп.</li>
              <li>Выдох — правая рука под левую (ротация), без касания рукой пола.</li>
              <li>На вдохе — снова раскрытие и рука в потолок.</li>
              <li>Выдох — поставили руку на место. Повторить с левой.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.plank_reversals.ceil%> кг.</div>
    </div>
    <div class="row row-cols-5 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText7" aria-expanded="false"
                aria-controls="collapseText7">Планка:
        </button>
        <div class="collapse my-2" id="collapseText7">
          <span>
            <%= image_tag('Планка с перетягиванием гири.jpeg') %>
            <ul>
              <li>Упражнение выполняется из начальной позиции отжиманий.</li>
              <li>Локти должны быть согнуты под прямым углом и находиться на одной линии с плечами.</li>
              <li>Ваше тело должно представлять собой одну прямую линию.</li>
              <li>Вес тела необходимо удерживать на локтях и пальцах ног, равномерно распределяя его по точкам опоры.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col"><%= current_gain_training.friday_tabat_sets %></div>
      <div class="col"><%= current_gain_training.friday_tabat_reps %> сек.</div>
      <div class="col">20 сек.</div>
      <div class="col"><%= current_gain_training.plank.ceil%> кг.</div>
    </div>
  </div>

<div class="row row-cols-2 my-5">
  <div class="col left">
    <%= link_to "Не удалось", user_update_gain_path(@user, @gain, complete_training: 'fail'),
     method: :put, class: 'btn btn-danger btn-lg'%>
  </div>

  <div class="col right"><%= link_to "Завершено",
     user_update_gain_path(@user, @gain, complete_training: 'tabat_friday'),
     method: :put, class: 'btn btn-success btn-lg'%></div>
</div>