<h3 class="my-4 center"><strong><%= t('activerecord.attributes.models.spider')%></strong></h3>
  <div class="container my-4">
    <div class="row row-cols-4 center">
      <div class="col"><strong><%= t('views.exercise')%></strong></div>
      <div class="col"><strong><%= t('views.count_sets')%></strong></div>
      <div class="col"><strong><%= t('views.count_reps')%></strong></div>
      <div class="col"><strong><%= t('views.weight')%></strong></div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText" aria-expanded="false"
                aria-controls="collapseText"><%= t('activerecord.attributes.spider.barbell_bench_press') %>
        </button>
        <div class="collapse my-2" id="collapseText">
          <span>
            <%= image_tag('Жим лежа.jpeg') %>
            <ul>
              <li>Лягте на скамью, поставив ступни на пол и согнув колени.</li>
              <li>Держите спину прямо, голову вверх.</li>
              <li>Держите штангу перед грудью.</li>
              <li>Сожмите лопатки вместе.</li>
              <li>Опускайте штангу вниз, пока она не коснется верхней части груди.</li>
              <li>Сделайте паузу, затем снова поднимите штангу.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.monday_reps %></div>
      <div class="col"><%= current_spider_training.barbell_bench_press.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseText1" aria-expanded="false"
              aria-controls="collapseText1"><%= t('activerecord.attributes.spider.incline_press') %>
        </button>
        <div class="collapse my-2" id="collapseText1">
          <span>
            <%= image_tag('жим на наклонной скамье.jpeg') %>
            <ul>
              <li>Установите нужный угол спинки скамьи. Сядьте на нее так, чтобы таз был прижат к сиденью, а спина к спинке.</li>
              <li>Ноги расставьте в стороны и упритесь пятками в пол.</li>
              <li>В пояснице оставьте естественный прогиб.</li>
              <li>Лопатки сведите, они должны упираться в спинку.</li>
              <li>Голову положите на спинку, смотрите на верх противоположной вам стены.</li>
              <li>Возьмитесь за гриф прямым хватом шире плеч, ориентируясь по рискам.</li>
              <li>Снимите гриф со стоек, выведите его на исходную позицию: он должен расположиться над вашими ключицами.</li>
              <li>Опустите гриф на верх груди на вдохе.</li>
              <li>Не задерживая дыхания, выдыхайте и толкайте штангу вверх.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.monday_reps %></div>
      <div class="col"><%= current_spider_training.incline_press.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseText2" aria-expanded="false"
              aria-controls="collapseText2"><%= t('activerecord.attributes.spider.push_ups_on_bars') %>
        </button>
        <div class="collapse my-2" id="collapseText2">
          <span>
            <%= image_tag('Отжимания на брусьях.jpeg') %>
            <ul>
              <li>Запрыгните на брусья и опустите плечи.</li>
              <li>Следите, чтобы плечи не поднимались на протяжении всего упражнения.</li>
              <li>Выпрямите руки, но не блокируйте локтевой сустав.</li>
              <li>Опуститесь вниз до параллели плеч с полом.</li>
              <li>Следите, чтобы локти уходили назад, а не в стороны.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.monday_reps %></div>
      <div class="col"><%= current_spider_training.push_ups_on_bars.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseText3" aria-expanded="false"
              aria-controls="collapseText3"><%= t('activerecord.attributes.spider.close_grip_bench_press') %>
        </button>
          <div class="collapse my-2" id="collapseText3">
            <span>
              <%= image_tag('Жим лежа узким хватом.jpeg') %>
              <ul>
                <li>Лягте на скамью.</li>
                <li>Слегка прогнитесь в пояснице, но при этом убедитесь, что голова, плечи и ягодицы плотно прижаты к скамье.</li>
                <li>Возьмитесь за гриф хватом сверху. Расстояние между ладонями должно быть меньше ширины плеч.</li>
                <li>Выжмите штангу вверх и полностью выпрямите руки.</li>
                <li>Гриф должен оказаться точно над шеей.</li>
                <li>Сделайте глубокий вдох и, задержав дыхание, опустите штангу к нижней части грудной клетки.</li>
                <li>Едва гриф коснется груди, не останавливайтесь, а тут же начинайте жать штангу вверх.</li>
                <li>Как только руки будут полностью выпрямлены (верхняя точка упражнения), сделайте небольшую паузу и постарайтесь как можно сильнее напрячь трицепсы.</li>
              </ul>
            </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.monday_reps %></div>
      <div class="col"><%= current_spider_training.close_grip_bench_press.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText4" aria-expanded="false"
                aria-controls="collapseText4"><%= t('activerecord.attributes.spider.seated_dumbbell_press') %>
        </button>
        <div class="collapse my-2" id="collapseText4">
          <span>
            <%= image_tag('жим гантелей сидя.jpeg') %>
            <ul>
              <li>Установите спинку скамьи вертикально.</li>
              <li>Сядьте на скамью, возьмите в обе руки гантели и поднимите их над плечами.</li>
              <li>Чуть-чуть подайте гантели вперед и разверните так, чтобы ладони были направлены вперед.</li>
              <li>Отведите плечи назад и расправьте грудь.</li>
              <li>Сделайте вдох и, задержав дыхание, напрягите дельты и выжмите гантели по широкой дуге вверх.</li>
              <li>В верхней точке гантели почти касаются друг друга, руки полностью выпрямлены, а плечи приподняты.</li>
              <li>Плавно опустите гантели по той же траектории к плечам и приступайте к следующему повторению.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.monday_reps %></div>
      <div class="col"><%= current_spider_training.seated_dumbbell_press.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText5" aria-expanded="false"
                aria-controls="collapseText5"><%= t('activerecord.attributes.spider.barbell_pull_to_chin') %>
        </button>
        <div class="collapse my-2" id="collapseText5">
          <span>
          <%= image_tag('Тяга штанги к подбородку.jpeg') %>
            <ul>
              <li>Держите штангу верхним хватом (промежуток между ладонями немного меньше ширины плеч) и выровняйтесь.</li>
              <li>В исходном положении спина прямая и чуть прогнута в пояснице, плечи расправлены, руки в локтях ровные, гриф слегка касается бедер.</li>
              <li>Вдохните и, задержав дыхание, напрягите дельту и трапецепидную.</li>
              <li>Разведите локти и потяните их вверх вертикально.</li>
              <li>Движение «направляют» именно локти, а не предплечья или плечи.</li>
              <li>Когда вы поднимаете локти вверх, гриф штанги должен двигаться в вертикальной плоскости в длину тела от подбородка до бедер.</li>
              <li>Не нависайте над грифом, прогибая спину.</li>
              <li>Держите тело и шею прямо, а подбородок — горизонтально.</li>
              <li>В верхней точке локти находятся максимально вверху.</li>
              <li>Дотянувшись до верхней точки, сделайте выдох, остановитесь и еще больше напрягите дельты и трапеции.</li>
              <li>Медленно опустите гриф в исходное положение.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.monday_reps %></div>
      <div class="col"><%= current_spider_training.barbell_pull_to_chin.ceil%> кг.</div>
    </div>

    <div class="row row-cols-2 my-5">
      <div class="col left">
        <%= link_to t('global.button.fail'), user_update_spider_path(@user, @spider, complete_training: 'fail'), method: :put,
          class: 'btn btn-danger btn-lg'%></div>

      <div class="col right"><%= link_to t('global.button.complete'), user_update_spider_path(@user, @spider, complete_training: 'monday'), method: :put,
        class: 'btn btn-success btn-lg'%></div>
    </div>
    

