<h3 class="my-4 center"><strong><%= t('activerecord.attributes.models.spider')%></strong></h3>
  <div class="container my-4">
    <div class="row row-cols-4 center">
      <div class="col"><strong><%= t('views.exercise')%></strong></div>
      <div class="col"><strong><%= t('views.count_sets')%></strong></div>
      <div class="col"><strong><%= t('views.count_reps')%></strong></div>
      <div class="col"><strong><%= t('views.weight')%></strong></div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText" aria-expanded="false"
                aria-controls="collapseText"><%= t('activerecord.attributes.spider.deadlift') %>
        </button>
        <div class="collapse my-2" id="collapseText">
          <span>
            <%= image_tag('Становая тяга.jpeg') %>
            <ul>
              <li>Встаньте перед штангой, ноги на ширине плеч, пятки прижаты к полу.</li>
              <li>Согните ноги в коленях и разверните бёдра, отведя таз назад и приблизив продольную ось штанги к себе.</li>
              <li>Возьмите штангу руками на ширине бёдер, ладони должны быть обращены к вам, хват закрытый.</li>
              <li>Поднимите штангу, выпрямив ноги и одновременно потянув снаряд к верхней части бёдер.</li>
              <li>Задержитесь в верхней точке на несколько секунд и медленно опустите штангу на пол, также сгибая ноги и отводя таз назад.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.wednesday_reps %></div>
      <div class="col"><%= current_spider_training.deadlift.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseText1" aria-expanded="false"
              aria-controls="collapseText1"><%= t('activerecord.attributes.spider.pull_ups') %>
        </button>
        <div class="collapse my-2" id="collapseText1">
          <span>
            <%= image_tag('Подтягивания.jpeg') %>
            <ul>
              <li>Подпрыгните и ухватитесь за перекладину широким хватом.</li>
              <li>Повисните на перекладине.</li>
              <li>Сделайте глубокий вдох и, задержав дыхание, напрягите широчайшие и подтянитесь вверх.</li>
              <li>Подтягивайте себя вверх до тех пор, пока подбородок не окажется на одном уровне с перекладиной.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.wednesday_reps %></div>
      <div class="col"><%= current_spider_training.pull_ups.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseText2" aria-expanded="false"
              aria-controls="collapseText2"><%= t('activerecord.attributes.spider.incline_dumbbell_row') %>
        </button>
        <div class="collapse my-2" id="collapseText2">
          <span>
            <%= image_tag('Тяга гантель в наклоне.jpeg') %>
            <ul>
              <li>Возьмите гантель так, чтобы гриф был параллелен вашему телу.</li>
              <li>За счет силы широчайшей мышцы тянем гантель к поясу.</li>
              <li>Локоть стараемся вести вверх.</li>
              <li>Позвоночник остается в прямом положении.</li>
              <li>Задержавшись в верхней точке на 1 секунду, опускаем гантель вниз.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.wednesday_reps %></div>
      <div class="col"><%= current_spider_training.incline_dumbbell_row.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseText3" aria-expanded="false"
              aria-controls="collapseText3"><%= t('activerecord.attributes.spider.horizontal_pull_block') %>
        </button>
          <div class="collapse my-2" id="collapseText3">
            <span>
              <%= image_tag('Горизонтальная тяга блока.jpeg') %>
              <ul>
                <li>Прицепите V-образную рукоять на нижний блок, сядьте на лавку и прижмите ноги к платформам для стоп.</li>
                <li>Возьмитесь за рукоять, расправьте и опустите плечи, выпрямите спину.</li>
                <li>С выдохом согните руки в локтях, сведите лопатки и подтяните рукоятку к животу.</li>
                <li>Зафиксируйте на одну секунду.</li>
                <li>Со вдохом плавно и под контролем верните руки в исходное положение.</li>
              </ul>
            </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.wednesday_reps %></div>
      <div class="col"><%= current_spider_training.horizontal_pull_block.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText4" aria-expanded="false"
                aria-controls="collapseText4"><%= t('activerecord.attributes.spider.barbell_forearm_curls') %>
        </button>
        <div class="collapse my-2" id="collapseText4">
          <span>
            <%= image_tag('Сгибания предплечий со штангой.jpeg') %>
            <ul>
              <li>Сделайте глубокий вдох, задержите дыхание и, сгибая руки в локтях, поднимите штангу до уровня верха груди.</li>
              <li>Во время подъема штанги не двигайте локтями, держите их по бокам туловища и не сгибайте руки в запястьях.</li>
              <li>Как только кисти окажутся на уровне верха груди, сделайте паузу, выдохните и еще сильнее напрягите бицепсы.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col">4</div>
      <div class="col"><%= current_spider_training.wednesday_reps %></div>
      <div class="col"><%= current_spider_training.barbell_forearm_curls.ceil%> кг.</div>
    </div>
    
    <div class="row row-cols-2 my-5">
      <div class="col left">
        <%= link_to t('global.button.fail'), user_update_spider_path(@user, @spider, complete_training: 'fail'), method: :put,
          class: 'btn btn-danger btn-lg'%></div>

      <div class="col right"><%= link_to t('global.button.complete'), user_update_spider_path(@user, @spider, complete_training: 'wednesday'), method: :put,
        class: 'btn btn-success btn-lg'%></div>
    </div>
    

