<%= render 'shared/errors', object: @gain %>
<%= form_with model: [@user, @gain] do |f| %>
<h4 class="mb-4 center">Для просмотра техники выполнения упражнения, нажмите на его название</h4>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText" aria-expanded="false"
                aria-controls="collapseText"><%= f.label :barbell_bench_press %>
      </button>
      <div class="collapse my-2" id="collapseText">
        <span>
          <%= image_tag('Жим лежа.jpeg') %>
          <ul>
            <li>Лягте на скамью, поставив ступни на пол и согнув колени.</li>
            <li>Держите спину прямо, голову вверх.</li>
            <li>Держите штангу перед грудью.</li>
            <li>Сожмите лопатки вместе.</li>
            <li>Опускайте штангу вниз, пока она не коснется верхней части груди.</li>
            <li>Сделайте паузу, затем снова поднимите штангу.</li>
          </ul>
        </span>
      </div>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :barbell_bench_press, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText1" aria-expanded="false"
                aria-controls="collapseText1"><%= f.label :reverse_push_ups %>
      </button>
      <div class="collapse my-2" id="collapseText1">
        <span>
          <%= image_tag('Обратные отжимания.jpeg') %>
          <ul>
            <li>Расположите руки на ширине плеч на спортивной скамье. Локти должны находиться как можно ближе к телу.</li>
            <li>Вытяните ноги в длину перед собой, немного согните в коленях, пятки упираются в другую скамью.</li>
            <li>На вдохе согните локти, пока плечо и предплечье не образуют угол 90 градусов.</li>
            <li>В нижней части движения задержитесь на 3-5 секунд.</li>
            <li>Оттолкнувшись от скамьи, выпрямите локти и вернитесь в исходное положение.</li>
          </ul>
        </span>
      </div>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :reverse_push_ups, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText2" aria-expanded="false"
                aria-controls="collapseText2"><%= f.label :dumbbell_bench_press %>
      </button>
      <div class="collapse my-2" id="collapseText2">
        <span>
          <%= image_tag('Жим гантелей лежа.jpeg') %>
          <ul>
            <li>Возьмите гантели в руки, сядьте и облокотите их на колени.</li>
            <li>Лягте на скамью, прижмите снаряды к груди.</li>
            <li>Обязательно согните ноги и начинайте делать жим - опускайте на вдохе гантели до уровня грудной клетки.</li>
            <li>На выдохе поднимайте руки со снарядом вверх.</li>
          </ul>
        </span>
      </div>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :dumbbell_bench_press, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="my-3 mb-3 row">
    <div class="col-sm-2 col-form-label">
      <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText3" aria-expanded="false"
                aria-controls="collapseText3"><%= f.label :push_ups_on_bars %>
      </button>
      <div class="collapse my-2" id="collapseText3">
        <span>
          <%= image_tag('Отжимания на брусьях.jpeg') %>
          <ul>
            <li>Запрыгните на брусья и опустите плечи.</li>
            <li>Следите, чтобы плечи не поднимались на протяжении всего упражнения.</li>
            <li>Выпрямите руки, но не блокируйте локтевой сустав.</li>
            <li>Опуститесь вниз до параллели плеч с полом.</li>
            <li>Следите, чтобы локти уходили назад, а не в стороны.</li>
          </ul>
        </span>
      </div>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :push_ups_on_bars, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText4" aria-expanded="false"
                aria-controls="collapseText4"><%= f.label :stacked_chest_press %>
      </button>
      <div class="collapse my-2" id="collapseText4">
        <span>
          <%= image_tag('Жим на грудь в стеке.jpeg') %>
          <ul>
            <li>Отрегулируйте высоту рукояток так, чтобы они были на уровне плеч или чуть ниже.</li>
            <li>Сядьте ровно и прижмитесь спиной и головой к спинке тренажера. Поставьте ноги шире плеч.</li>
            <li>Возьмитесь за рукоятки хватом сверху (ладони смотрят вперед) на ширине плеч или шире.</li>
            <li>Вдохните и, задержав дыхание, выжмите рукоятки от груди.</li>
            <li>Сделайте выдох, когда преодолеете самый сложный участок движения или когда полностью выпрямите руки.</li>
            <li>В верхней точке сделайте короткую паузу и, задержав дыхание, плавно верните рукоятки в исходное положение.</li>
          </ul>
        </span>
      </div>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :stacked_chest_press, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText5" aria-expanded="false"
                aria-controls="collapseText5"><%= f.label :extension_with_rope_handle %>
      </button>
      <div class="collapse my-2" id="collapseText5">
        <span>
          <%= image_tag('Разгибание с канатной рукояткой.jpeg') %>
          <ul>
            <li>Повесьте канатную рукоять. Возьмитесь за нее параллельным хватом (ладони напротив).</li>
            <li>Согните руки чуть больше, чем на 90 градусов.</li>
            <li>Положение стоп может быть на одной прямой либо одна нога чуть вперед, а другая чуть назад.</li>
            <li>Поясница выгнута, грудь расправлена, взгляд прямо.</li>
            <li>Весом тела прижимаем рукоять сверху, как бы нависая над ней.</li>
            <li>Из положения «руки согнуты» опустите вес вниз усилием трицепсов.</li>
          </ul>
        </span>
      </div>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :extension_with_rope_handle, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseText6" aria-expanded="false"
                aria-controls="collapseText6"><%= f.label :dumbbell_abduction %>
      </button>
      <div class="collapse my-2" id="collapseText6">
        <span>
          <%= image_tag('Отведение гантели.jpeg') %>
          <ul>
            <li>Поднимите согнутый локоть до такого уровня, чтобы плечо было параллельно полу.</li>
            <li>Предплечье с гантелью при этом направлено вниз.</li>
            <li>Сделайте вдох.</li>
            <li>Выдыхая, разгибайте локоть строго назад, пока рука не будет полностью прямой.</li>
            <li>Трицепс в этот момент должен быть максимально напряжен, а положение плеча зафиксировано.</li>
            <li>Несколько секунд удерживайте гантель в прямой руке.</li>
            <li>На вдохе плавно верните руку в исходное положение.</li>
          </ul>
        </span>
      </div>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :dumbbell_abduction, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <%= f.submit t('users.global.forms.save'),
    class: 'btn btn-primary btn-lg' %>
<% end %>