<h3 class="my-4 center"><strong>Круговая тренировка</strong></h3>

  <div class="container my-4">
    <div class="row row-cols-4 center">
      <div class="col"><strong>Упражнение</strong></div>
      <div class="col"><strong>Кол-во кругов</strong></div>
      <div class="col"><strong>Кол-во повторений</strong></div>
      <div class="col"><strong>Вес</strong></div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">Жим ногами:</div>
      <div class="col">4</div>
      <div class="col">10</div>
      <div class="col"><%= current_gain_training.leg_press.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">Австралийские подтягивания:</div>
      <div class="col">4</div>
      <div class="col">20</div>
      <div class="col"><%= current_gain_training.austrian_pull_ups.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">Жим гантелей лежа:</div>
      <div class="col">4</div>
      <div class="col">10</div>
      <div class="col"><%= current_gain_training.dumbbell_bench_press.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">Берпи:</div>
      <div class="col">4</div>
      <div class="col">20</div>
      <div class="col"><%= current_gain_training.burpee.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">Выпады с выпрыгиваниями:</div>
      <div class="col">4</div>
      <div class="col">20</div>
      <div class="col"><%= current_gain_training.jumping_lunges.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">Сгибание предплечий со штангой:</div>
      <div class="col">4</div>
      <div class="col">10</div>
      <div class="col"><%= current_gain_training.barbell_forearm_curls.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">Французский жим с гантелей стоя:</div>
      <div class="col">4</div>
      <div class="col">10</div>
      <div class="col"><%= current_gain_training.standing_dumbbell_french_press.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">Планка на локтях:</div>
      <div class="col">4</div>
      <div class="col">60 секунд</div>
      <div class="col"><%= current_gain_training.plank.ceil%> кг.</div>
    </div>
    <div class="row row-cols-4 my-3 center">
      <div class="col">Дорожка:</div>
      <div class="col">4</div>
      <div class="col">30 секунд</div>
      <div class="col"><%= current_gain_training.track.ceil%> кг.</div>
    </div>
  </div>
  </div>

<div class="row row-cols-2 my-5">
  <div class="col left">
    <%= link_to "Не удалось", user_path(current_user), class: 'btn btn-danger btn-lg'%>
  </div>

  <div class="col right"><%= link_to "Завершено",
     user_update_gain_path(@user, @gain, complete_training: 'cyrcles_friday'),
     method: :put, class: 'btn btn-success btn-lg'%></div>
</div>