<%= render 'shared/errors', object: @crossfit %>
<%= form_with model: [@user, @crossfit] do |f| %>


  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :front_squat %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :front_squat, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :hang_grab %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :hang_grab, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :overhead_press %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :overhead_press, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

<div class="my-3 mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :kettlebell_swing %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :kettlebell_swing, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :kettlebell_pull_to_the_chin %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :kettlebell_pull_to_the_chin, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :russian_twist %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :russian_twist, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :plank_with_kettlebell_pull %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :plank_with_kettlebell_pull, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :trusters %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :trusters, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :bent_over_barbell_pull %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :bent_over_barbell_pull, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :deadlift %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :deadlift, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

<div class="my-3 mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :mahi_dumbbells_through_the_sides %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :mahi_dumbbells_through_the_sides, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :dumbbell_layout %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :dumbbell_layout, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :barbell_pull_to_chin %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :barbell_pull_to_chin, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :forearm_curls_and_press_ups_with_a_barbell %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :forearm_curls_and_press_ups_with_a_barbell, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :cross_over %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :cross_over, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :abduction_in_a_butterfly %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :abduction_in_a_butterfly, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :lying_leg_flexion %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :lying_leg_flexion, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :seated_leg_extension %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :seated_leg_extension, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :sumo_squats %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :sumo_squats, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :farm_walk %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :farm_walk, placeholder: t('activerecord.attributes.powers.placeholder'),
       class: 'form-control form-control-lg' %>
    </div>
  </div>

  <%= f.submit t('users.global.forms.save'),
    class: 'btn btn-primary btn-lg' %>
<% end %>