<div class="progress">
  <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar"
       style="width: <%= current_crossfit_training.count_update_training * 2%>%"
       aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
       <%= current_crossfit_training.count_update_training * 2%>%
  </div>
</div>

<div class="dropdown center my-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Выбор тренировки
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= link_to 'Понедельник', user_crossfit_path(@user, @crossfit, day: 'monday'),
        class: 'dropdown-item'%>
    </li>

    <li><hr class="dropdown-divider"></li>

    <li>
      <%= link_to 'Среда', user_crossfit_path(@user, @crossfit, day: 'wednesday'),
        class: 'dropdown-item'%>
    </li>

    <li><hr class="dropdown-divider"></li>

    <li>
      <%= link_to 'Пятница', user_crossfit_path(@user, @crossfit, day: 'friday'),
        class: 'dropdown-item'%>
    </li>
  </ul>
</div>

<% case params[:day] %>
  <% when 'monday'%>
    <%= render 'monday' %>
  <% when 'wednesday'%>
    <%= render 'wednesday' %>
  <% when 'friday'%>
    <%= render 'friday' %>
<% end %>