<% provide :page_title, current_user.name %>
<% currently_at t('user.title') %>

<body class="my-profile" style="color:#ffffff">


  <div class="container overflow-hidden">

    <h1 class="center"><%= t('views.my_profile')%></h1>


    <div class="row gx-5">
      <div class="col">
        <div class="p-3"> <%= t('views.lose_diet')%>
          <strong>
            <%= if current_user.gender.downcase == "male" || current_user.gender.downcase == "мужской"
                  men_weight_loss_diet
                else
                  fem_weight_loss_diet
                end %>
            ккал.
          </strong>
        </div>
      </div>

      <div class="col">
        <div class="p-3"> <%= t('views.gain_diet')%>
          <strong>
            <%= if current_user.gender.downcase == "male"
                  men_weight_gain_diet
                else
                  fem_weight_gain_diet
                end %>
            ккал.
          </strong>
        </div>
      </div>
    </div>
  <div>

  <h2 class="my-3"><%= t('views.my_trainings')%></h2>

  <div>
    <% @powers.each do |power| %>
      <article>
        <p class="mt-2">
          <strong><%= t('activerecord.attributes.models.power') + " от #{power.created_at.strftime('%d-%m-%Y')}"%></strong>
        </p>
        <p>
          <%= link_to t('global.button.show'), user_power_path(@user, power), 
            class: 'btn btn-primary btn-sm' %>
          <%= link_to t('global.button.edit'), edit_user_power_path(@user, power), 
            class: 'btn btn-warning btn-sm' %>
          <%= link_to t('global.button.delete'), user_power_path(@user, power), 
            class: 'btn btn-danger btn-sm', data: {method: :delete, confirm: "Are you sure?"} %>
        </p>
      </article>
    <% end %>
  </div>

  <div>
    <% @crossfits.each do |crossfit| %>
      <article>
        <p class="mt-2">
          <strong><%= t('activerecord.attributes.models.crossfit') + " от #{crossfit.created_at.strftime('%d-%m-%Y')}"%></strong>
        </p>
        <p>
          <%= link_to t('global.button.show'), user_crossfit_path(@user, crossfit), 
            class: 'btn btn-primary btn-sm' %>
          <%= link_to t('global.button.edit'), edit_user_crossfit_path(@user, crossfit), 
            class: 'btn btn-warning btn-sm' %>
          <%= link_to t('global.button.delete'), user_crossfit_path(@user, crossfit), 
            class: 'btn btn-danger btn-sm', data: {method: :delete, confirm: "Are you sure?"} %>
        </p>
      </article>
    <% end %>
  </div>

  <div>
    <% @gains.each do |gain| %>
      <article>
        <p class="mt-2">
          <strong><%= t('activerecord.attributes.models.gain') + " от #{gain.created_at.strftime('%d-%m-%Y')}"%></strong>
        </p>
        <p>
          <%= link_to t('global.button.show'), user_gain_path(@user, gain), 
            class: 'btn btn-primary btn-sm' %>
          <%= link_to t('global.button.edit'), edit_user_gain_path(@user, gain), 
            class: 'btn btn-warning btn-sm' %>
          <%= link_to t('global.button.delete'), user_gain_path(@user, gain), 
            class: 'btn btn-danger btn-sm', data: {method: :delete, confirm: "Are you sure?"} %>
        </p>
      </article>
    <% end %>
  </div>
</body>