<% currently_at 'Вопросы' %>
<% provide :page_title %>

<h1 class="mb-4 center">Техника выполнения упражнений</h1>
<h4>Жим лежа</h4>
<%= image_tag('Жим лежа.jpeg') %>
<ul>
  <li>Лягте на скамью, поставив ступни на пол и согнув колени.</li>
  <li>Держите спину прямо, голову вверх.</li>
  <li>Держите штангу перед грудью.</li>
  <li>Сожмите лопатки вместе.</li>
  <li>Опускайте штангу вниз, пока она не коснется верхней части груди.</li>
  <li>Сделайте паузу, затем снова поднимите штангу.</li>
</ul>

<h4>Обратные отжимания</h4>
<%= image_tag('Обратные отжимания.jpeg') %>
<ul>
  <li>Расположите руки на ширине плеч на спортивной скамье. Локти должны находиться как можно ближе к телу.</li>
  <li>Вытяните ноги в длину перед собой, немного согните в коленях, пятки упираются в другую скамью.</li>
  <li>На вдохе согните локти, пока плечо и предплечье не образуют угол 90 градусов.</li>
  <li>В нижней части движения задержитесь на 3-5 секунд.</li>
  <li>Оттолкнувшись от скамьи, выпрямите локти и вернитесь в исходное положение.</li>
</ul>

<h4>Жим гантелей лежа</h4>
<%= image_tag('Жим гантелей лежа.jpeg') %>
<ul>
  <li>Возьмите гантели в руки, сядьте и облокотите их на колени.</li>
  <li>Лягте на скамью, прижмите снаряды к груди.</li>
  <li>Обязательно согните ноги и начинайте делать жим - опускайте на вдохе гантели до уровня грудной клетки.</li>
  <li>На выдохе поднимайте руки со снарядом вверх.</li>
</ul>

<h4>Отжимания на брусьях</h4>
<%= image_tag('Отжимания на брусьях.jpeg') %>
<ul>
  <li>Запрыгните на брусья и опустите плечи.</li>
  <li>Следите, чтобы плечи не поднимались на протяжении всего упражнения.</li>
  <li>Выпрямите руки, но не блокируйте локтевой сустав.</li>
  <li>Опуститесь вниз до параллели плеч с полом.</li>
  <li>Следите, чтобы локти уходили назад, а не в стороны.</li>
</ul>

<h4>Жим на грудь в стеке</h4>
<%= image_tag('Жим на грудь в стеке.jpeg') %>
<ul>
  <li>Отрегулируйте высоту рукояток так, чтобы они были на уровне плеч или чуть ниже.</li>
  <li>Сядьте ровно и прижмитесь спиной и головой к спинке тренажера. Поставьте ноги шире плеч.</li>
  <li>Возьмитесь за рукоятки хватом сверху (ладони смотрят вперед) на ширине плеч или шире.</li>
  <li>Вдохните и, задержав дыхание, выжмите рукоятки от груди.</li>
  <li>Сделайте выдох, когда преодолеете самый сложный участок движения или когда полностью выпрямите руки.</li>
  <li>В верхней точке сделайте короткую паузу и, задержав дыхание, плавно верните рукоятки в исходное положение.</li>
</ul>
<h4>Разгибание с канатной рукояткой</h4>
<%= image_tag('Разгибание с канатной рукояткой.jpeg') %>
<ul>
  <li>Повесьте канатную рукоять. Возьмитесь за нее параллельным хватом (ладони напротив).</li>
  <li>Согните руки чуть больше, чем на 90 градусов.</li>
  <li>Положение стоп может быть на одной прямой либо одна нога чуть вперед, а другая чуть назад.</li>
  <li>Поясница выгнута, грудь расправлена, взгляд прямо.</li>
  <li>Весом тела прижимаем рукоять сверху, как бы нависая над ней.</li>
  <li>Из положения «руки согнуты» опустите вес вниз усилием трицепсов.</li>
</ul>

<h4>Отведение гантели</h4>
<%= image_tag('Отведение гантели.jpeg') %>
<ul>
  <li>Поднимите согнутый локоть до такого уровня, чтобы плечо было параллельно полу.</li>
  <li>Предплечье с гантелью при этом направлено вниз.</li>
  <li>Сделайте вдох.</li>
  <li>Выдыхая, разгибайте локоть строго назад, пока рука не будет полностью прямой.</li>
  <li>Трицепс в этот момент должен быть максимально напряжен, а положение плеча зафиксировано.</li>
  <li>Несколько секунд удерживайте гантель в прямой руке.</li>
  <li>На вдохе плавно верните руку в исходное положение.</li>
</ul>

<h4>Подъем ног в висе</h4>
<%= image_tag('Подъем ног в висе.jpeg') %>
<ul>
  <li>Расположитесь на брусьях в положении свободного виса, опираясь на согнутые в локтях руки.</li>
  <li>Напрягая пресс, поднимите согнутые в коленях ноги до горизонтального уровня.</li>
  <li>Задержавшись на несколько секунд, вернитесь в исходное положение.</li>
</ul>

<h4>Австрийские подтягивания</h4>
<%= image_tag('Австрийские подтягивания.jpeg') %>
<ul>
  <li>Выполняют вис на перекладине с прямым хватом чуть шире плеч.</li>
  <li>Делают шаг или два вперед и расслабляют корпус.</li>
  <li>На вдохе подтягивают корпус вверх к перекладине за счет напряжения мышц спины.</li>
  <li>Не дойдя 3–5 см до грифа штанги, сводят лопатки и задерживают дыхание на пару секунд.</li>
</ul>

<h4>Горизонтальная тяга блока</h4>
<%= image_tag('Горизонтальная тяга блока.jpeg') %>
<ul>
  <li>Прицепите V-образную рукоять на нижний блок, сядьте на лавку и прижмите ноги к платформам для стоп.</li>
  <li>Возьмитесь за рукоять, расправьте и опустите плечи, выпрямите спину.</li>
  <li>С выдохом согните руки в локтях, сведите лопатки и подтяните рукоятку к животу.</li>
  <li>Зафиксируйте на одну секунду.</li>
  <li>Со вдохом плавно и под контролем верните руки в исходное положение.</li>
</ul>

<h4>Подтягивания</h4>
<%= image_tag('Подтягивания.jpeg') %>
<ul>
  <li>Подпрыгните и ухватитесь за перекладину широким хватом.</li>
  <li>Повисните на перекладине.</li>
  <li>Сделайте глубокий вдох и, задержав дыхание, напрягите широчайшие и подтянитесь вверх.</li>
  <li>Подтягивайте себя вверх до тех пор, пока подбородок не окажется на одном уровне с перекладиной.</li>
</ul>

<h4>Сгибания предплечий со штангой</h4>
<%= image_tag('Сгибания предплечий со штангой.jpeg') %>
<ul>
  <li>Сделайте глубокий вдох, задержите дыхание и, сгибая руки в локтях, поднимите штангу до уровня верха груди.</li>
  <li>Во время подъема штанги не двигайте локтями, держите их по бокам туловища и не сгибайте руки в запястьях.</li>
  <li>Как только кисти окажутся на уровне верха груди, сделайте паузу, выдохните и еще сильнее напрягите бицепсы.</li>
</ul>

<h4>Тяга гантель в наклоне</h4>
<%= image_tag('Тяга гантель в наклоне.jpeg') %>
<ul>
  <li>Возьмите гантель так, чтобы гриф был параллелен вашему телу.</li>
  <li>За счет силы широчайшей мышцы тянем гантель к поясу.</li>
  <li>Локоть стараемся вести вверх.</li>
  <li>Позвоночник остается в прямом положении.</li>
  <li>Задержавшись в верхней точке на 1 секунду, опускаем гантель вниз.</li>
</ul>

<h4>Вертикальная тяга блока</h4>
<%= image_tag('Вертикальная тяга блока.jpeg') %>
<ul>
  <li>Сядьте на тренажер так, чтобы рукоятки тренажера были прямо над вашими плечами.</li>
  <li>Ноги зафиксируйте упором, чтобы при поднятии рук таз не отрывался.</li>
  <li>Возьмите рукоятку хватом шире плеч.</li>
  <li>Втяните живот и напрягите пресс, слегка отклонитесь назад.</li>
  <li>Сведите лопатки вместе, опустите их вниз и плавно начинайте тянуть вниз локти.</li>
  <li>При правильной ширине хвата в конечной точке локти практически коснутся корпуса.</li>
  <li>Если локти очень далеко от вашей талии, значит хват слишком широкий.</li>
  <li>Задержитесь на секунду в нижней точке, затем на вдохе медленно возвращайтесь в исходное положение.</li>
</ul>

<h4>Гиперэкстензия</h4>
<%= image_tag('Гиперэкстензия.jpeg') %>
<ul>
  <li>Отрегулируйте тренажер таким образом, чтобы ваш таз плотно лежал на его подушке.</li>
  <li>Край подушки в том месте, где сгибается ваш корпус.</li>
  <li>Задней частью ног упираемся в валики.</li>
  <li>Нужно лечь так, чтобы валики упирались в ахиллово сухожилие, а не в икры.</li>
  <li>Руки скрещиваем за головой или на груди.</li>
  <li>Корпус – абсолютно прямая линия.</li>
  <li>Доходим до угла в 90 градусов.</li>
  <li>В случае проблем с позвоночником угол может быть меньше.</li>
  <li>Возвращаемся назад и разгибаемся так чтобы корпус составлял одну линию с ногами.</li>
  <li>Задерживаемся в верхней точке на 1–2 секунды.</li>
</ul>

<h4>Молотки</h4>
<%= image_tag('Молотки.jpeg') %>
<ul>
  <li>Встаньте прямо, а ноги поставьте на ширину плеч.</li>
  <li>В пояснице должен образоваться небольшой естественный прогиб.</li>
  <li>Локти зафиксируйте по бокам туловища.</li>
  <li>Гантели возьмите таким хватом, что ладони с гантелями смотрят друг на друга.</li>
  <li>На выдохе выполните подъем рук почти до уровня плеч.</li>
  <li>Добейтесь пикового сокращения мышц.</li>
  <li>Задержитесь в верхней пиковой точке на несколько секунд.</li>
  <li>Медленно опустите гантели вниз, вернувшись в начальное положение.</li>
</ul>

<h4>Книжка</h4>
<%= image_tag('Книжка.jpeg') %>
<ul>
  <li>Садитесь на край лавки.</li>
  <li>Сведите ноги вместе и выставите вперед со слегка согнутыми коленями.</li>
  <li>Руками упритесь в край скамьи и отклоните корпус назад.</li>
  <li>Поднимайте ноги, сгибайте их в коленях и подтягивайте к себе.</li>
  <li>Одновременно подавайте корпус вперед (грудь движется на встречу коленям).</li>
  <li>Сделайте паузу на 1 секунду на выдохе, после чего вернитесь в исходную позицию.</li>
</ul>

<h4>Гакк приседания</h4>
<%= image_tag('Гакк приседания.jpeg') %>
<ul>
  <li>Прижмите спину и плечи к тренажёру.</li>
  <li>Поставьте ноги на середину платформы на ширине плеч, носки разведите немного наружу.</li>
  <li>Выпрямите колени, но не до конца.</li>
  <li>Со вдохом присядьте до параллели бёдер с полом.</li>
  <li>С выдохом надавите пятками и выжмите себя вверх.</li>
</ul>

<h4>Разгибания голени сидя</h4>
<%= image_tag('Разгибания голени сидя.jpeg') %>
<ul>
  <li>Сядьте в тренажер, прижмитесь спиной к его спинке и заведите ноги за валик.</li>
  <li>Руками возьмитесь за специальные ручки по бокам от сиденья.</li>
  <li>Носки стоп поднимите вверх.</li>
  <li>На выдохе плавно разогните ноги в коленях.</li>
  <li>Максимально напрягите квадрицепсы в верхней точке, задержитесь в таком положении на 1–2 секунды.</li>
  <li>На вдохе подконтрольно опустите ноги вниз, но не сгибайте их до конца.</li>
  <li>То есть даже в нижней точке квадрицепсы должны быть напряжены.</li>
  <li>Следите за ощущениями в коленях, не бросайте резко ноги вниз.</li>
</ul>

<h4>Жим ногами</h4>
<%= image_tag('Жим ногами.jpeg') %>
<ul>
  <li>Займите исходную позицию: стопы ставят на платформу, поясницу прижимают к скамье.</li>
  <li>Убрерите фиксаторы отягощения с помощью рычагов.</li>
  <li>На вдохе опустите платформу, согнув ноги в коленях.</li>
  <li>В нижней точке ноги образуют угол 90 градусов.</li>
  <li>На выдохе вытолкните ногами платформу вверх.</li>
</ul>

<h4>Жим в хамере на плечи</h4>
<%= image_tag('Жим в хамере на плечи.jpeg') %>
<ul>
  <li>Тренажер нужно отрегулировать под свой рост.</li>
  <li>Бедра должны быть параллельны полу.</li>
  <li>Рукоятки находятся чуть выше плечевых суставов так, чтобы хват был комфортным.</li>
  <li>Садимся прямо, живот втягиваем, воздух набираем в грудную клетку, и спину прижимаем к спинке тренажера.</li>
  <li>Важно чтобы на старте плечи не были подведены к ушам, а лопатки были сведены и опущены к тазу.</li>
  <li>На выдохе выполняется разгибание в плечевых и локтевых суставах, жим вверх.</li>
  <li>На вдохе рукоятка опускается в исходное положение, грудная клетка опускается.</li>
</ul>

<h4>Махи гантелей через сторону</h4>
<%= image_tag('Махи гантелей через сторону.jpeg') %>
<ul>
  <li>Встаньте прямо, ноги на ширине плеч.</li>
  <li>Возьмите гантели и держите их нейтральным хватом, чтобы руки были ладонями друг к другу.</li>
  <li>Руки в локтях слегка согнуты - этот угол нужно удерживать на всей амплитуде, это очень важно.</li>
  <li>Гантелями не касаемся друг друга, кисти строго под плечами, но не ближе.</li>
  <li>Сделайте чуть заметный наклон корпуса вперед ровно настолько, чтобы гантели расположились перед вами.</li>
  <li>На выдохе начинайте отводить руки в стороны и поднимайте гантели, но не выше уровня плеч.</li>
  <li>Гантели должны быть параллельны земле, кисти не поворачиваем.</li>
  <li>В верхней точке мы стараемся поднять именно локти, как в тяге гантелей к подбородку.</li>
  <li>На вдохе медленно верните гантели в исходное положение, но в нижней точке не касайтесь гантелями друг друга!</li>
</ul>

<h4>Сгибание голени лежа</h4>
<%= image_tag('Сгибание голени лежа.jpeg') %>
<ul>
  <li>Лягте на тренажер и заведите ноги под валик.</li>
  <li>Руками возьмитесь за специальные ручки или за края скамьи.</li>
  <li>На выдохе согните голени, стараясь максимально приблизить валик к ягодицам.</li>
  <li>Передняя поверхность бедер при этом прижата к скамье.</li>
  <li>На вдохе разгибайте голени, аккуратно опуская вес вниз.</li>
  <li>Полностью выпрямлять колени и расслаблять бицепс бедра в нижней точке не нужно.</li>
</ul>

<h4>Мах блина перед собой</h4>
<%= image_tag('Мах блина перед собой.jpeg') %>
<ul>
  <li>Встаньте прямо.</li>
  <li>Представьте себе, что блин – это циферблат.</li>
  <li>Ваша задача взять его таким образом, чтобы ладони были на 3 и 9 часов.</li>
  <li>Держите его в опущенных вниз, немного согнутых в локтях руках.</li>
  <li>На выдохе, медленно поднимите блин немного выше уровня плеч.</li>
  <li>Задержитесь на секунду.</li>
  <li>Не допускайте рывков и не сгибайте локти. Корпус неподвижен.</li>
  <li>На вдохе также медленно опускайте вес в исходное положение.</li>
</ul>

<h4>Тяга штанги к подбородку</h4>
<%= image_tag('Тяга штанги к подбородку.jpeg') %>
<ul>
  <li>Держите штангу верхним хватом (промежуток между ладонями немного меньше ширины плеч) и выровняйтесь.</li>
  <li>В исходном положении спина прямая и чуть прогнута в пояснице, плечи расправлены, руки в локтях ровные, гриф слегка касается бедер.</li>
  <li>Вдохните и, задержав дыхание, напрягите дельту и трапецепидную.</li>
  <li>Разведите локти и потяните их вверх вертикально.</li>
  <li>Движение «направляют» именно локти, а не предплечья или плечи.</li>
  <li>Когда вы поднимаете локти вверх, гриф штанги должен двигаться в вертикальной плоскости в длину тела от подбородка до бедер.</li>
  <li>Не нависайте над грифом, прогибая спину.</li>
  <li>Держите тело и шею прямо, а подбородок — горизонтально.</li>
  <li>В верхней точке локти находятся максимально вверху.</li>
  <li>Дотянувшись до верхней точки, сделайте выдох, остановитесь и еще больше напрягите дельты и трапеции.</li>
  <li>Медленно опустите гриф в исходное положение.</li>
</ul>

<h4>Фронтальный присед</h4>
<%= image_tag('Фронтальный присед.jpeg') %>
<ul>
  <li>Расположите снаряд на стойках на высоте чуть ниже плеч.
  <li>Присядьте под грифом, слегка согнув ноги в коленках, и возьмитесь за него руками так, чтобы локти смотрели строго вперед.</li>
  <li>Штанга должна лечь на передние дельты.</li>
  <li>Расстояние между кистями – больше ширины плеч.</li>
  <li>На протяжении всех этапов выполнения фронтального приседания, следите, чтобы в пояснице был прогиб.</li>
  <li>Аккуратно отойдите от рамы и примите исходное положение: ноги на ширине плеч, носки слегка развернуты, локти приподняты вверх.</li>
  <li>Делайте вдох и одновременно приседайте, пока бедра и икроножные мышцы не соприкоснутся.</li>
  <li>Спину при этом держите прямо, таз назад не отводите, колени не сводите, пятки не отрывайте от пола.</li>
  <li>В нижнем положении не тормозите, сразу начинайте подниматься вверх, одновременно делайте выдох.</li>
  <li>Выталкивайте вес за счет ног, пятки сильно вдавливайте в поверхность.</li>
</ul>

<h4>Взятие с виса</h4>
<%= image_tag('Взятие с виса.jpeg') %>
<ul>
  <li>Поставьте ноги на ширине плеч.</li>
  <li>Возьмитесь за штангу прямым  хватом, держите ее на уровне середины бедра.</li>
  <li>Ваш корпус должен быть прямой и чуть наклонен вперед.</li>
  <li>Резким движением поднимите штангу вверх, выпрямляя ноги.</li>
  <li>Когда вы полностью выпрямитесь, сделайте рывок, согните и поднимите локти, чтобы они смотрели вперед.</li>
  <li>Слегка присядьте.</li>
  <li>Штанга должна лежать на линии плечей и касаться шеи, руки расслаблены.</li>
  <li>Продолжайте приседать, чтобы легче было вернуться в исходное положение.</li>
  <li>Сделайте упор на пятки и начните выпрямляться, корпус держите прямо, локти смотрят вперед.</li>
  <li>Вернитесь в исходное положение.</li>
</ul>

<h4>Жим штанги над головой</h4>
<%= image_tag('Жим штанги над головой.jpeg') %>
<ul>
  <li>Возьмите штангу хватом на ширине плеч.</li>
  <li>Локти направлены немного вперёд.</li>
  <li>Сведите лопатки вместе и опустите их вниз, чтобы придать жёсткости спине.</li>
  <li>Поясница с лёгким прогибом.</li>
  <li>На выдохе выпрямляйте руки, поднимая штангу над головой.</li>
  <li>На вдохе плавно опускайте штангу вниз и сгибайте руки в локтях.</li>
  <li>Поднимайте штангу только за счёт рук, без толчка ногами и раскачки корпуса.</li>
</ul>

<h4>Качели с гирей</h4>
<%= image_tag('Качели с гирей.jpeg') %>
<ul>
  <li>Поставьте ступни на ширине плеч, носки слегка направлены наружу.</li>
  <li>Колени держите слегка согнутыми.</li>
  <li>Удерживайте гирю обеими руками между ног.</li>
  <li>Качните гирю между ног назад.</li>
  <li>Поверните гирю вперед, чтобы она оказалась на одной высоте с вашей головой.</li>
  <li>Во время движения вперед убедитесь, что бедра открыты, а колени одновременно разгибаются.</li>
  <li>Держите руки прямыми на протяжении всего движения.</li>
</ul>

<h4>Тяга гири к подбородку</h4>
<%= image_tag('Тяга гири к подбородку.jpeg') %>
<ul>
  <li>Гирю нужно взять хватом сверху.</li>
  <li>После этого нужно выпрямиться, слегка прогнув спину в пояснице.</li>
  <li>Плечи должны быть расправлены, а руки выпрямлены в локтевых суставах.</li>
  <li>Во время тяги гири к подбородку спортсмен делает выдох, концентрированно поднимает гирю к подбородку, напрягая дельтовидные мышцы.</li>
  <li>Локти должны тянутся вертикально вверх.</li>
  <li>В верхней точке амплитуды локтевой сустав должен образовывать тридцати градусный угол.</li>
  <li>Делайте короткую паузу на пике восходящего движения, после чего медленно опускайте гирю вниз по той же траектории.</li>
</ul>

<h4>Берпи</h4>
<%= image_tag('Берпи.jpeg') %>
<ul>
  <li>Встаньте прямо, ноги на ширине плеч. Это будет вашей исходной позицией.</li>
  <li>Согните колени и в положении приседа упритесь руками в пол.</li>
  <li>Перенесите вес тела на руки.</li>
  <li>Сделайте выпрыгивание ногами назад так, чтобы оказаться в положении планки на прямых руках.</li>
  <li>Сделайте одно отжимание и вернитесь в позицию планки.</li>
  <li>Прыжком подтяните ноги к рукам и окажитесь в положении приседа.</li>
  <li>Сделайте прыжок вверх и резко поднимите руки, издав хлопок над головой.</li>
</ul>

<h4>Ситап</h4>
<%= image_tag('Ситап.jpeg') %>
<ul>
  <li>Лягте на пол.</li>
  <li>Согните ноги в коленях и поставьте стопы на пол по ширине таза.</li>
  <li>Не слишком близко к тазу.</li>
  <li>Заведите прямые руки назад и коснитесь тыльной стороной кисти пола.</li>
  <li>С выдохом поднимите корпус, округляя позвоночник, и коснитесь ладонями стоп.</li>
  <li>Затем плавно без падения опуститесь на пол, заведя руки за голову, касаясь ими пола.</li>
</ul>

<h4>Русский твист</h4>
<%= image_tag('Русский твист.jpeg') %>
<ul>
  <li>Сядьте на коврик и согните ноги в коленях, слегка отклонитесь назад.</li>
  <li>Ваш корпус должен образовывать букву «V» с бедрами.</li>
  <li>Спина в пояснице немного скруглена, пресс напряжен.</li>
  <li>Вытяните руки вперед. Для удобства можете соединить ладони.</li>
  <li>Поднимите ноги от пола и начинайте выполнять скрутки корпуса и рук вправо-влево.</li>
  <li>Колени, в свою очередь, остаются на месте или слегка поворачиваются в противовес корпусу.</li>
</ul>

<h4>Планка с перетягиванием гири</h4>
<%= image_tag('Планка с перетягиванием гири.jpeg') %>
<ul>
  <li>Примите позу планки на руках, предварительно поставив гирю по левую сторону от себя.</li>
  <li>Снаряд должен находится недалеко, поскольку теперь его необходимо ухватить правой рукой через низ и отвести в правую сторону.</li>
  <li>Следующее движение выполните уже левой рукой по аналогичной амплитуде.</li>
  <li>Стороны меняются на каждое новое повторение.</li>
</ul>

<h4>Трастеры</h4>
<%= image_tag('Трастеры.jpeg') %>
<ul>
  <li>Ставим ноги на ширине плеч. Руки согнуты в локтях, держим штангу перед грудью.</li>
  <li>Выполняем глубокий присед.</li>
  <li>Из этого положения резко выталкиваем себя вверх.</li>
  <li>В момент подъёма выбрасываем штангу над головой.</li>
  <li>Затем штангу опускаем обратно на грудь и возвращаемся в глубокий присед.</li>
</ul>

<h4>Тяга штанги к поясу в наклоне</h4>
<%= image_tag('Тяга штанги к поясу в наклоне.jpeg') %>
<ul>
  <li>Встаем перед штангой.</li>
  <li>Беремся за нее широким хватом (шире, чем плечи) и снимаем со стоек.</li>
  <li>Хват – прямой (пальцы к себе, кулаки наружу).</li>
  <li>В пояснице естественный прогиб, спина прямая, ноги чуть согнуты в коленях.</li>
  <li>Наклоняем туловище вперед, стараемся достичь положения близкого к параллели с полом.</li>
  <li>Равновесие держится за счет того, что во время наклона вы сгибаете колени, отводя таз назад.</li>
  <li>Фиксируем корпус в этом положении.</li>
  <li>Теперь тянем штангу к животу (к нижней части), максимально сводя лопатки вместе.</li>
  <li>Тяга грифа осуществляется мышцами спины, а не рук.</li>
  <li>Удерживаем в верхней точке 1 секунду и плавно опускаем снаряд назад, разводя лопатки в стороны.</li>
  <li>Стараемся не менять положение спины. Просто опускаем руки максимально вниз за счет разведения лопаток.</li>
</ul>

<h4>Становая тяга</h4>
<%= image_tag('Становая тяга.jpeg') %>
<ul>
  <li>Встаньте перед штангой, ноги на ширине плеч, пятки прижаты к полу.</li>
  <li>Согните ноги в коленях и разверните бёдра, отведя таз назад и приблизив продольную ось штанги к себе.</li>
  <li>Возьмите штангу руками на ширине бёдер, ладони должны быть обращены к вам, хват закрытый.</li>
  <li>Поднимите штангу, выпрямив ноги и одновременно потянув снаряд к верхней части бёдер.</li>
  <li>Задержитесь в верхней точке на несколько секунд и медленно опустите штангу на пол, также сгибая ноги и отводя таз назад.</li>
</ul>

<h4>Разводка гантелей лежа на горизонтальной скамье</h4>
<%= image_tag('Разводка гантелей лежа на горизонтальной скамье.jpeg') %>
<ul>
  <li>Возьмите гантели в руки и сядьте на край скамьи.</li>
  <li>Лягте на лавку так, чтобы голова не свисала с нее.</li>
  <li>Ноги расставьте широко, чтобы обеспечить хорошую устойчивость.</li>
  <li>Поясница находится в естественном положении, без излишних прогибов и скруглений.</li>
  <li>Гантели поднимите перед собой под углом 90 градусов к полу.</li>
  <li>Руки развернуты так, чтобы ладони смотрели друг на друга.</li>
  <li>Чуть согните их в локте и заморозьте в таком положении.</li>
  <li>На вдохе начните разводить гантели в стороны так, чтобы локти смотрели вниз.</li>
  <li>Когда вы почувствуете, что мышцы груди уже начинают тянуться, опустите руки еще чуть дальше, но, разумеется, не до болезненных ощущений.</li>
  <li>На выдохе сведите руки обратно, почти коснувшись гантелями друг друга.</li>
</ul>

<h4>Запрыгивания на тумбу</h4>
<%= image_tag('Запрыгивания на тумбу.jpeg') %>
<ul>
  <li>Встаньте перед тумбой на расстоянии от 0,5 до 1 м. Ноги на ширине плеч.</li>
  <li>Это стартовая позиция. Чтобы прыгнуть, сядьте и махните руками назад.</li>
  <li>При прыжке на ящик поднимите колени и бедра как можно выше.</li>
  <li>В этом случае руки двигаются вперед и вверх.</li>
  <li>Вы должны приземлиться на обе ноги.</li>
  <li>Колени слегка согнуты.</li>
</ul>

<h4>Подъемы ног к перекладине</h4>
<%= image_tag('Подъемы ног к перекладине.jpeg') %>
<ul>
  <li>Исходное положение – вис на перекладине или турнике с прямыми руками и ногами.</li>
  <li>Высота перекладины должна быть такой, чтоб ногами вы или слегка касались пола.</li>
  <li>На выдохе поднимите ноги и подкрутите таз вперед.</li>
  <li>Угол между корпусом и бедрами должен быть меньше 90 градусов.</li>
  <li>В верхней точке задержитесь на пару секунд.</li>
  <li>По возможности медленно опуститесь в исходное положение.</li>
</ul>

<h4>Склепка</h4>
<%= image_tag('Склепка.jpeg') %>
<ul>
  <li>Лягте на спину, на пол. Вытяните руки за голову прямыми, ноги прямыми просто сведите вместе.</li>
  <li>Теперь, плавно выдыхая, медленно поднимайте ноги в ровном виде вверх, как можно выше.</li>
  <li>При этом приподнимайте корпус, отрывая от поверхности лопатки.</li>
  <li>Руки прямыми тяните к пальцам ног.</li>
  <li>На пике, замрите на пару секунд, и опуститесь на пол достаточно медленно.</li>
</ul>

<h4>Сгибания предплечий и жим вверх со штангой</h4>
<%= image_tag('Сгибания предплечий со штангой.jpeg') %>
<ul>
  <li>Первая часть движения аналогична Сгибаниям предплечий со штангой</li>
  <li>Вторая часть движения аналогична Жиму штанги над головой</li>
</ul>

<h4>Кросс-овер</h4>
<%= image_tag('Кросс-овер.jpeg') %>
<ul>
  <li>Установите блоки тренажера наверх.</li>
  <li>Сделайте небольшой шаг вперед, чтобы растянуть грудные.</li>
  <li>Ноги ставим на одну линию, если тяжело, то одну выводим вперед.</li>
  <li>Не забываем их чередовать каждый подход.</li>
  <li>Наклоняем туловище немного вперед.</li>
  <li>Спину держим ровной, в пояснице небольшой прогиб, грудь немного выставлена вперед.</li>
  <li>Руки разводим в стороны, пока не почувствуем растяжение грудных мышц.</li>
  <li>Локти при этом, немного согнуты.</li>
  <li>На выдохе начинаем сводить руки перед грудью, до касания ими друг друга.</li>
  <li>Задержитесь ненадолго в этом положении, что бы максимально напрячь грудь.</li>
  <li>На вдохе начинаем разводить руки в стороны до исходного положения, стараясь как можно сильней растянуть грудные мышцы.</li>
</ul>

<h4>Отведение в бабочке</h4>
<%= image_tag('Отведение в бабочке.jpeg') %>
<ul>
  <li>Выставите высоту сидения так, чтобы рука отводилась назад в горизонтальной плоскости.</li>
  <li>Спинку тренажера отрегулируйте, чтобы она фиксировала положение корпуса.</li>
  <li>Садитесь в тренажер и возьмитесь за рукояти.</li>
  <li>Начинайте медленно разводить руки в стороны до тех пор, пока кисти не окажутся на одном уровне.</li>
  <li>Сделайте небольшую паузу и в медленном темпе вернитесь в исходную позицию.</li>
  <li>Не сводите рукояти вместе, чтобы сохранить напряжение в мышцах.</li>
</ul>

<h4>Выпады с выпрыгиванием</h4>
<%= image_tag('Выпады с выпрыгиванием.jpeg') %>
<ul>
  <li>Встать в исходное положение для сплит-приседа.</li>
  <li>Выпрямить спину, подтянуть живот, отшагнуть одной ногой назад на расстояние полного шага.</li>
  <li>Вторую опорную оставить в обычном для приседания положении, носок чуть отведен в сторону.</li>
  <li>Опуститься в выпад до параллели рабочей ноги с полом.</li>
  <li>Выпрыгнуть их приседа вверх.</li>
</ul>

<h4>Сумо приседания</h4>
<%= image_tag('Сумо приседания.jpeg') %>
<ul>
  <li>Встаньте прямо, расставьте ноги шире, чем ширина плеч, а стопы разверните наружу под углом в 45 градусов.</li>
  <li>Взгляд направьте вперед, спина должна быть прямой, а грудь открытой.</li>
  <li>Начните опускаться вниз, сгибая колени и отклоняя таз назад, как будто хотите сесть на стул.</li>
</ul>

<h4>Фермерская прогулка</h4>
<%= image_tag('Фермерская прогулка.jpeg') %>
<ul>
  <li>Поясница прогнута, зафиксирована.</li>
  <li>Лопатки сведены.</li>
  <li>Руки «по швам».</li>
</ul>

<h4>Поочередные касания пяток лежа на полу</h4>
<%= image_tag('Поочередные касания пяток лежа на полу.jpeg') %>
<ul>
  <li>Ляг­те на пол и сог­нув но­ги в ко­ленях (угол 45 гра­дусов) рас­по­ложи­те их на не­кото­ром рас­сто­янии друг от дру­га.</li>
  <li>Ру­ки вы­тяни­те вдоль кор­пу­са.</li>
  <li>Слег­ка отор­ви­те го­лову от по­ла и ста­тичес­ки нап­ря­гите пресс.</li>
  <li>Выдох­ни­те и на вы­дохе про­веди­те бо­ковое скру­чива­ние, в хо­де ко­торо­го кос­ни­тесь ле­вой ру­кой ле­вой пят­ки.</li>
  <li>За­дер­жи­тесь в сок­ра­щен­ной по­зиции на 1-2 сче­та и пов­то­рите то­же са­мое дви­жение для дру­гой сто­роны.</li>
</ul>

<h4>Статика в приседе</h4>
<%= image_tag('Статика в приседе.jpeg') %>
<ul>
  <li>Исходное положение: встать спиной к стене, облокотившись на нее.</li>
  <li>Следующим движением на вдохе опуститься вниз до параллели бедер и пола.</li>
</ul>

<h4>Махи гантелей в наклоне</h4>
<%= image_tag('Махи гантелей в наклоне.jpeg') %>
<ul>
  <li>Возьмите гантели в обе руки.</li>
  <li>Хват нейтральный, ладони смотрят в направлении туловища.</li>
  <li>Ноги стоят на ширине плеч, чуть согнутые в коленях.</li>
  <li>Ступни параллельно друг другу.</li>
  <li>Отводим таз назад, а туловище наклоняем вперед.</li>
  <li>Спина прямая, трапеция растянута, плечи опущены вниз.</li>
  <li>Голова приподнята, взгляд направлен вперед.</li>
  <li>На выдохе поднимаем локти вверх разводя их в стороны.</li>
  <li>При этом лопатки остаются неподвижными, работаем только дельтами.</li>
  <li>Задержитесь в верхней точке на несколько секунд, и на вдохе верните локти в исходное положение.</li>
</ul>

<h4>Планка</h4>
<%= image_tag('Планка с перетягиванием гири.jpeg') %>
<ul>
  <li>Упражнение выполняется из начальной позиции отжиманий.</li>
  <li>Локти должны быть согнуты под прямым углом и находиться на одной линии с плечами.</li>
  <li>Ваше тело должно представлять собой одну прямую линию.</li>
  <li>Вес тела необходимо удерживать на локтях и пальцах ног, равномерно распределяя его по точкам опоры.</li>
</ul>

<h4>Отжимания от пола</h4>
<%= image_tag('Отжимания от пола.jpeg') %>
<ul>
  <li>Согните руки в локтевых суставах, направляя их назад.</li>
  <li>Не разводите локти в стороны.</li>
  <li>Опуститесь, приближая корпус к полу.</li>
  <li>Опускайтесь до тех пор, пока корпус не окажется на одной линии с плечами.</li>
  <li>Вернитесь в исходное положение, разгибая руки.</li>
</ul>

<h4>Обратная планка</h4>
<%= image_tag('Обратная планка.jpeg') %>
<ul>
  <li>Сядьте на пол, ноги вытяните перед собой.</li>
  <li>Положите ладони на пол немного позади себя, широко расставьте пальцы.</li>
  <li>Опираясь на ладони, поднимите бёдра и туловище.</li>
  <li>Смотрите в потолок, вытяните носки, держите руки и ноги прямо.</li>
</ul>

<h4>Джампинг Джек</h4>
<%= image_tag('Джампинг Джек.jpeg') %>
<ul>
  <li>Начните со стойки с прямыми ногами и руками по бокам.</li>
  <li>Подпрыгните вверх и разведите ноги на ширину бёдер.</li>
  <li>Одновременно поднимайте руки над головой, почти касаясь друг друга.</li>
  <li>Снова подпрыгните, опуская руки и сводя ноги вместе.</li>
  <li>Вернитесь в исходное положение.</li>
</ul>

<h4>Скакалка</h4>
<%= image_tag('Скакалка.jpeg') %>
<ul>
  <li>Подбородок поднят, плечи опущены.</li>
  <li>Голова, шея и позвоночник держатся прямо.</li>
  <li>Руки расположены у корпуса и чуть согнуты в локтях.</li>
  <li>Ноги чуть поджаты и расслаблены в коленях.</li>
  <li>Плечи статичны, вращаются только кисти.</li>
  <li>Приземление и толчок на носках.</li>
  <li>Дыхание ровное.</li>
</ul>

<h4>Касание плеч стоя в планке</h4>
<%= image_tag('Планка с перетягиванием гири.jpeg') %>
<ul>
  <li>Из положения планки необходимо поочередно поднимать ладони и касаться ими противоположного плеча.</li>
  <li>При этом нельзя раскачиваться из стороны в сторону.</li>
  <li>Так как снижаются нагрузка на пресс и эффективность упражнения.</li>
</ul>

<h4>Боковой скалолаз</h4>
<%= image_tag('Боковой скалолаз.jpeg') %>
<ul>
  <li>Встаньте в упор лёжа, поставьте запястья чётко под плечами, взгляд направьте в пол перед собой.</li>
  <li>Вытяните тело в одну линию от макушки до стоп, напрягите пресс.</li>
  <li>Подтяните одно колено к груди, с прыжком смените ногу и продолжайте чередовать их.</li>
</ul>

<h4>Отжимания с узкой постановкой рук</h4>
<%= image_tag('Отжимания с узкой постановкой рук.jpeg') %>
<ul>
  <li>Поставьте руки чуть уже плеч, пальцы направьте вперед.</li>
  <li>Расстояние между ладонями не должно быть меньше 20 см.</li>
  <li>Выпрямите корпус, напрягите мышцы пресса, соедините вместе ноги.</li>
  <li>Спина должна быть абсолютно прямой, не допускайте прогиба в пояснице.</li>
  <li>Медленно опустите корпус вниз за счет сгибания рук в локтевых суставах.</li>
  <li>Локти во время выполнения движения направлены назад и прижаты к корпусу.</li>
  <li>Опускайтесь, пока грудь практически не коснется пола, но на пол не ложитесь.</li>
  <li>Энергичным усилием разогните руки и поднимите корпус в исходное положение.</li>
  <li>В верхней точке руки до конца не разгибайте.</li>
  <li>Не задерживаясь, снова опускайте корпус и так далее.</li>
  <li>Движение получается практически непрерывным.</li>
</ul>

<h4>Приседания</h4>
<%= image_tag('Приседания.jpeg') %>
<ul>
  <li>На глубоком вдохе отведите таз назад и разведите колени в стороны.</li>
  <li>Не «заваливайтесь» вперед, достаточно естественного наклона корпуса.</li>
  <li>Правильный присед напоминает опускание ягодиц на воображаемый стул.</li>
  <li>Опустившись в нижнюю точку, сразу же поднимайтесь и выдыхайте воздух из легких.</li>
</ul>

<h4>Развороты в планке</h4>
<%= image_tag('Планка с перетягиванием гири.jpeg') %>
<ul>
  <li>Исходное положение планка.</li>
  <li>Кисти ровно под плечами.</li>
  <li>На вдохе поднять правую руку, раскрыться вправо с разворотом корпуса и стоп.</li>
  <li>Выдох — правая рука под левую (ротация), без касания рукой пола.</li>
  <li>На вдохе — снова раскрытие и рука в потолок.</li>
  <li>Выдох — поставили руку на место. Повторить с левой.</li>
</ul>

<h4>Удары канатами</h4>
<%= image_tag('Удары канатами.jpeg') %>
<ul>
  <li>Для выполнения необходимо слегка наклонить корпус вперед при прямой спине.</li>
  <li>Ноги на уровне плеч или чуть шире.</li>
  <li>После этого делайте поочередно махи (правая рука – вверх, левая рука – вниз).</li>
</ul>

<h4>Выпрыгивания</h4>
<%= image_tag('выпрыгивания.jpeg') %>
<ul>
  <li>Поставьте ноги на ширину плеч, выпрямите спину.</li>
  <li>Можно скрестить руки перед собой на уровне груди.</li>
  <li>Присед делается на вдохе.</li>
  <li>Опускайтесь до параллели с полом.</li>
  <li>Можно опуститься чуть ниже, главное — следите за своими ощущениями.</li>
  <li>На выдохе необходимо сделать мощное выпрыгивание вверх, оттолкнувшись полными ступнями.</li>
  <li>Постарайтесь прыгнуть как можно выше, ваши бедра должны максимально «спружинить».</li>
  <li>После того как ваши стопы полностью коснулись пола, снова уйдите в присед.</li>
</ul>

<h4>Подьем на трапеции в Смите</h4>
<%= image_tag('Подьем на трапеции в Смите.jpeg') %>
<ul>
  <li>Установите гриф на уровне бёдер. Подберите корректный вес. </li>
  <li>Станьте спиной к тренажеру и возьмитесь за перекладину прямым хватом, на ширине плеч.</li>
  <li>Снимите штангу с замков и удерживайте её на вытянутых руках.</li>
  <li>Держите спину ровно и подайте грудь вверх.</li>
  <li>Это стартовая позиция.</li>
  <li>Делая выдох, поднимайте плечи ровно вверх.</li>
  <li>Не сгибайте руки и запястья во время движения. </li>
  <li>Сделайте паузу в верхней точке, затем опускайте штангу в стартовую позицию.</li>
</ul>

<h4>Бицепс в Скотте гантелями</h4>
<%= image_tag('Бицепс в Скотте гантелями.jpeg') %>
<ul>
  <li>Возь­ми­те ган­тель нуж­но­го ве­са и по­дой­ди­те к скамье Скот­та.</li>
  <li>Рас­по­ложи­те ее на вер­хней час­ти нак­лонной скамьи, рас­пря­мив прак­ти­чес­ки до кон­ца.</li>
  <li>Это Ва­ша ис­ходная по­зиция.</li>
  <li>На вы­дохе, за счет сок­ра­щения двуг­ла­вой мыш­цы пле­ча, под­ни­мите ган­тель вверх до уров­ня плеч.</li>
  <li>За­дер­жи­тесь на 1-2 сче­та в вер­хней точ­ке тра­ек­то­рии и ста­тичес­ки прож­ми­те би­цепс.</li>
  <li>Мед­ленно и под­кон­троль­но опус­ти­те ру­ку в стартовую позицию.</li>
</ul>

<h4>Бицепс сидя на скамье</h4>
<%= image_tag('Бицепс сидя на скамье.jpeg') %>
<ul>
  <li>Возьмите гантели и сядьте на наклонную скамью.</li>
  <li>Плечи прижаты к корпусу, хват нейтральный.</li>
  <li>На выдохе поднимайте гантели, напрягая бицепсы.</li>
  <li>Во время подъема гантелей поверните кисти в супинированное положение - ладонями вверх.</li>
  <li>Держите плечи неподвижными, двигаются только предплечья.</li>
  <li>Продолжайте сгибать руку до уровня плеча.</li>
  <li>Задержитесь на секунду.</li>
  <li>На вдохе медленно опускайте гантель обратно, возвращая кисть в исходное положение.</li>
</ul>

<h4>Французский жим с гантелей стоя</h4>
<%= image_tag('Французский жим с гантелей стоя.jpeg') %>
<ul>
  <li>Встаньте прямо.
  <li>Возьмите гантель обеими руками, держите гантель на вытянутых руках над головой.
  <li>Обхватите гантель так, как показано на рисунке: диск находится в ладонях, большие пальцы на рукояти.
  <li>Ладони обращены вверх.
  <li>Это будет вашим исходным положением.
  <li>Часть руки от плеча до локтя находится рядом с головой, перпендикулярно полу.
  <li>На вдохе опустите гантель назад за голову по полукруглой траектории.
  <li>Продолжайте движение, пока предплечье не коснется бицепса.
  <li>На выдохе, напрягая трицепсы, поднимите руки, возвращая гантель в исходное положение.
</ul>